/* General Elements*/
body{
	background-image: url("../images/background.png")
}


div{
	background-color: #fee7c8;
	color: #1ca835;
	margin: 10px;
	width: 25%
}
div{
	border: solid 2px antiquewhite;
	padding: 10px;
}
h1, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}


/* Specfic Elements*/
div.header{
	color:white;
	background: #d56e00;
}

div.gems{
	background-color: #e0e0eb;
}
div.header, div.instructions{
	width: 50%;
}
/* Classes */
.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
}
.numberToMatch{
	color: black;
	background: #1ca835;
}

.userTotal{
	width: 15%;
	height: 60px;
}
.gems{
	clear: both;
}
.gemImage{
	height: 60px;
	margin: 10px;
}
